body{
font-family: Arial;
margin:0;
background:#0f172a;
color:white;
}

header{
text-align:center;
padding:40px;
background:#020617;
}

.hero{
text-align:center;
padding:80px 20px;
}

.btn{
background:#3b82f6;
padding:12px 25px;
color:white;
text-decoration:none;
border-radius:6px;
}

.services{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
padding:50px;
}

.card{
background:#1e293b;
padding:25px;
border-radius:10px;
width:250px;
text-align:center;
}

#contact{
text-align:center;
padding:60px;
}
